@{
    ViewBag.Title = "Home Page";
}

<main>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>        Welcome To Our Hospital Management System        </h3>
    <br />
    <br />

    <img src="https://www.velvetech.com/wp-content/uploads/2022/05/hospital-management-system-fb.png">

</main>